---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)}>
  <div class="full-width hero hero-content">
    <div class="hash" aria-hidden="true"></div>
    <h1 class="hero-title">{blok.title}</h1>
    <p class="tag">{blok.tagline}</p>
  </div>
</section>

<style>
  section {
    padding-top: 6rem;
    padding-bottom: 6rem;

    text-align: center;
  }

  .hash {
    margin-bottom: -1rem;

    &::before {
      content: "#";
      color: var(--color-neutral-300);
      font-size: 4rem;
      font-weight: 700;
    }
  }
</style>

<script type="module">
  import { gsap } from "/gsap/esm/index.js";
  import { CSSRulePlugin } from "/gsap/esm/CSSRulePlugin.js";

  var tl = gsap.timeline({ repeat: 0 });
  tl.from(".hero-title", { opacity: 0, translateY: 100, duration: 0.5});
  tl.from(".tag", { opacity: 0, translateY: 50, duration: 1 });
</script>
