---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokImage from "../components/StoryblokImage.astro";

const { blok } = Astro.props;
---

<div class:list={["picture-wrapper", blok.containerWidth]}>
  <StoryblokImage
    url={blok.picture.filename}
    alt={blok.picture.alt}
    caption={blok.picture.title}
    lazyload={true}
    {...storyblokEditable(blok)}
  />
</div>

<style>
  .picture-wrapper {
    margin: 0 auto;

    &.w-half {
      max-width: 50%;  
    }

    &.w-prose {
      max-width: var(--max-line-length);
    }
  }
</style>
