---
import { storyblokEditable } from "@storyblok/astro";
import RichText from "./RichText.astro";
import TableOfContents from "../components/TableOfContents.astro";

const { blok } = Astro.props;
---

<article class="section" {...storyblokEditable(blok)}>
  <header>
    <div class="header-card">
      <div class="el">
        <h1>{blok.title}</h1>
        <p class="text-small">
          {
            "Published " +
              new Date(blok.date).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
          }
        </p>
      </div>
    </div>
  </header>

  <div class="section full-width">
    <TableOfContents docBlock={blok.content} />
    <RichText blok={blok} />
  </div>
</article>

<style>
  .header-card {
    background-color: var(--color-neutral-200);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 43vh;
    padding: var(--s-md);

    & > .header-links {
      display: flex;
      column-gap: var(--s-md);
    }
  }

  @media (width < 991px) {
    .header-card {
      padding: var(--s-xl);
    }
  }
</style>