---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<div class="link-wrapper">
  <a href={href} class="text-small">
    <!--
      /* HeroIcons
       *   - URL: https://heroicons.com/
       *   - Source Code: https://github.com/tailwindlabs/heroicons
       *   - License: MIT
       */
    -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
    </svg>
    {text}</a
  >
</div>

<style>
  .link-wrapper {
    padding: 2rem;
  }

  /* Values from Webflow */
  /* Tablet: < 991px; Mobile landscape: < 767px; mobile portrait < 478px */
  @media (width < 991px) {
    .link-wrapper {
      padding-top: 0;
    }
  }
</style>
