---
interface Props {
  name: string;
  image?: string;
}

const { name, image } = Astro.props;
---

<div class="tech-badge">
  {
    image && (
      <img
        loading="lazy"
        src={`${image}`}
        alt={`Logo of ${name}`}
        height="18"
      />
    )
  }
  <span class="text-small">{name}</span>
</div>

<style>
  .tech-badge {
    display: inline-flex;
    align-items: center;
    column-gap: var(--s-xs);

    background-color: var(--color-neutral-200);
    border-radius: 1.5rem;
    height: 1.5rem;
    padding: 0 var(--s-xs);

    & > img {
      background-color: rgba(255, 255, 255, .05);
      border-radius: .75rem;

      padding: var(--s-xs);
      margin-left: calc(var(--s-xs) * -1);
      height: 100%;
      min-width: 1.5rem;
    }

    & > span {
      padding-right: var(--s-xs);
    }
  }
</style>
