---
import { useStoryblokApi } from "@storyblok/astro";
import LinkResolver from "./LinkResolver.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: "draft",
  resolve_links: "url",
});

const copyrightNotice = data?.story?.content?.copyright_notice
const footerLinks = data?.story?.content?.footer_links;
const sourceCodeLink = data?.story?.content?.source_code_link[0]
---

<footer class="section">
  <div class="full-width">
    <div class="main">
      <div set:html={copyrightNotice}>
      </div>

      <ul class="links">
        {
          footerLinks &&
            footerLinks.map((l: any) => (
              <li>
                <LinkResolver linkBlock={l} />
              </li>
            ))
        }
      </ul>
    </div>

    <hr />

    <div class="made-with--section">
      <p class="made-with">
        Website made with:
        <a
          href="https://astro.build/"
          target="_blank"
          rel="noopener nofollow"
          aria-label="Astro (external link: opens in a new window)"
          ><img
            class="logo"
            alt="Logo of Astro"
            src="/astro-logo-light-gradient.svg"
            width="460"
            height="160"
            loading="lazy"
          /></a
        >
        <a
          href="https://storyblok.com/"
          target="_blank"
          rel="noopener nofollow"
          aria-label="Storyblok (external link: opens in a new window)"
          ><img
            class="logo"
            alt="Logo of Storyblok"
            src="/sb-logo-full-color-white.svg"
            width="251px"
            height="53px"
            loading="lazy"
          /></a
        >
        <a
          href="https://www.netlify.com/"
          target="_blank"
          rel="noopener nofollow"
          aria-label="Netlify (external link: opens in a new window)"
          ><img
            class="logo"
            alt="Logo of Netlify"
            src="/logo-netlify-small-fullcolor-darkmode.svg"
            width="256"
            height="105"
            loading="lazy"
          /></a
        >
      </p>

      {
        sourceCodeLink && 
          <LinkResolver linkBlock={sourceCodeLink} />
      }
    </div>
  </div>
</footer>

<style>
  footer {
    margin-top: var(--s-2xl);
    background-color: var(--color-neutral-200);
    padding-top: var(--s-2xl);
    padding-left: var(--s-xl);
    padding-right: var(--s-xl);
    padding-bottom: var(--s-xl);
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links {
    text-align: right;
    padding: 0;
    margin: 0;

    & li {
      list-style-type: none;
    }
  }

  .made-with--section {
    display: flex;
    column-gap: var(--s-2xl);
  }

  .made-with {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    column-gap: var(--s-md);
    row-gap: var(--s-md);
  }

  .logo {
    width: auto;
    height: 1.5rem;
    padding: 0 var(--s-md);
  }

  /* Values from Webflow */
  /* Tablet: < 991px; Mobile landscape: < 767px; mobile portrait < 478px */
  @media (width < 991px) {
    .made-with--section {
      display: block;
    }
  }

  @media (width < 767px) {
    .main {
      display: block;
    }

    .links {
      text-align: left;
    }

    .made-with--section {
      display: block;
    }

    .made-with {
      width: 100%;
      flex-direction: column;
      align-items: start;
    }

    .logo {
      padding: 0;
    }
  }
</style>
