---
interface Props {
  title?: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<header>
  <h2>{title}</h2>
  {subtitle && <p>{subtitle}</p>}
</header>

<style>
  header {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;

    & > h2 {
      font-size: 5.202rem;
      letter-spacing: -0.05em;
      line-height: 3.247rem;
      margin-bottom: 2rem;
      color: var(--color-neutral-100);

      /*
        WORKAROUND: Text is too large on the external screen of Galaxy Fold.
        Clip it for now.
      */
      text-overflow: clip;
      max-width: 100vw;

      /*
        NOTE: This is marked as low contrast by WebAim's WAVE tools.
        It's probably because color and background color are the same,
        while we're using `text-shadow`.

        Anyway, --color-neutral-500 still passes WCAG AA for Large Text (contrast ratio 3.8:1).
        
        It might be worth to increase the thickness of the border,
        even if readability looks similar to the surrounding text
        by blurring the whole page.
      */
      text-shadow:
        var(--color-neutral-500) 1px 0px 0px,
        var(--color-neutral-500) 0.540302px 0.841471px 0px,
        var(--color-neutral-500) -0.416147px 0.909297px 0px,
        var(--color-neutral-500) -0.989993px 0.14112px 0px,
        var(--color-neutral-500) -0.653644px -0.756803px 0px,
        var(--color-neutral-500) 0.283662px -0.958924px 0px,
        var(--color-neutral-500) 0.96017px -0.279416px 0px;
    }
    & > p {
      color: var(--color-neutral-800);
    }
  }

  @media (width < 767px) {
    header > h2 {
      font-size: 4.624rem;
      margin-bottom: 0;
    }
  }
</style>
