:root {
  --color-neutral-100: #141c28;
  --color-neutral-200: #202835;
  --color-neutral-300: #545c6b;
  --color-neutral-400: #606877;
  --color-neutral-500: #c85131;
  --color-neutral-600: #8991a0;
  --color-neutral-700: #cad2e3;
  --color-neutral-800: #f0f3ff;
  --color-neutral-900: #f9f9ff;

  --color-link-100: #0067d5;
  --color-link-900: #418cff;

  --color-linkVisited-100: #a132d3;
  --color-linkVisited-900: #c95cfb;


  --max-line-length: 65ch;

  /* SPACING */
  --s-xs: .33rem; /* .44rem */
  --s-sm: .66rem;
  --s-md: 1rem;
  --s-xl: 1.5rem;
  --s-2xl: 2.25rem;
  --s-3xl: 2.81rem;

  /* RADIUS */
  --r-sm: .16rem;
  --r-md: .33rem;
  --r-xl: .66rem;
  --r-2xl: 1rem;
  --r-3xl: 1.5rem;
  --r-4xl: 3rem;

  /* SHADOWS */
  --shadow-xl-white: 0 25px 50px -12px rgb(255 255 255 / 0.1);

  /* ANIMATIONS */
  --a-duration-fast: 165ms;
  --a-duration-brisk: 333ms;
  --a-duration-slow: 500ms;
  --a-duration-sleepy: 1000ms;
  
  --a-gsap-fast: 0.165;
  --a-gsap-brisk: 0.333;
  --a-gsap-slow: 0.5;
  --a-gsap-sleepy: 1;
 
  --a-easeOut: cubic-bezier(0.0, 0, 0.2, 1);
}

/*** TYPOGRAPHY ***/

html {
  font-size: 112.5%;
  background-color: var(--color-neutral-100);
}

body {
  color: var(--color-neutral-800);
  font-family: 'Public Sans Variable', sans-serif;
  font-weight: 300;
  line-height: 1.625;
}

p {
  margin-bottom: var(--s-md);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 300;
  line-height: 1.3;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2,
.h2 {
  font-size: 1.602rem;
}

h3,
.h3 {
  font-size: 1.424rem;
}

h4,
.h4 {
  font-size: 1.266rem;
}

h5,
.h5 {
  font-size: 1.125rem;
}

small,
.text-small {
  font-size: 0.889em;
}

figcaption, caption {
  font-size: 0.889em;
  font-style: italic;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, var(--color-neutral-600), var(--color-neutral-800), var(--color-neutral-600));
}

a {
  text-decoration-color: var(--color-link-900);
  text-underline-offset: 3px;
  color: var(--color-neutral-800);

  &:visited {
    color: var(--color-neutral-800);
    text-decoration-color: var(--color-link-900);
  }

  &:hover {
    color: var(--color-link-900);
  }

  &:visited:hover {
    color: var(--color-linkVisited-900);
    text-decoration-color: var(--color-linkVisited-900);
  }

  /* Style for icons inside <a> */
  display: inline-flex;
  align-items: center;
  column-gap: var(--s-xs);

  &:not(.navbar-logo)>svg {
    width: 1rem;
    height: 1rem;
  }
}

pre {
  background-color: var(--color-neutral-200);
  padding: var(--s-xs);
  border-radius: 3px;
  overflow-x: auto;
}

.not-prose h1,
.not-prose .h1,
.not-prose h2,
.not-prose .h2,
.not-prose h3,
.not-prose .h3,
.not-prose h4,
.not-prose .h4,
.not-prose h5,
.not-prose .h5,
.not-prose p,
.not-prose p {
  margin: 0;
}

b, strong {
  font-weight: bold;
}

/*** LAYOUT ***/
section,
.section {
  padding-top: var(--s-2xl);
  padding-bottom: var(--s-2xl);

  max-width: 1440px;
  margin: 0 auto;

  display: grid;

  --padding-x: var(--s-2xl);
  --max-width: 1280px;

  grid-template-columns:
    [full-width-start] minmax(var(--padding-x), 1fr) [content-start] min(100% - (var(--padding-x) * 2), var(--max-width)) [content-end] minmax(var(--padding-x), 1fr) [full-width-end];

  &>*:not(.full-width) {
    grid-column: content;
  }

  &>.full-width {
    grid-column: full-width;
  }
 
  /* Values from Webflow */
  /* Tablet: < 991px; Mobile landscape: < 767px; mobile portrait < 478px */
  @media (width < 767px) {
    --padding-x: var(--s-xl);
  }

  @media (width < 478px) {
    & {
      padding-top: var(--s-xl);
      padding-bottom: var(--s-xl);
    }
  }
}

@media (width > 1440px) {
  section, .section {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &:not(:last-child) {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

/* A11Y */

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* FOCUS STATE */
*:focus {
  outline-color: var(--color-neutral-500);
  outline-width: 3px;
  outline-offset: 3px;
  z-index: 1000;
}

/* BUTTON */
button, .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--s-sm);

  padding: var(--s-md) var(--s-2xl);

  border: unset;
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-100);

  text-decoration: none;
  
  border-radius: var(--r-4xl);

  &:hover {
      background-color: var(--color-neutral-700);
  }

  &:active {
      scale: 0.94;
  }

  transition-property: all;
  transition-timing-function: var(--a-easeOut);
  transition-duration: var(--a-duration-fast);
}

