---
import "modern-normalize";
import "@fontsource-variable/public-sans";
import "@fontsource/ibm-plex-mono/400.css"; 
import "../css/global.css";

import { useStoryblokApi } from "@storyblok/astro";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import KeyboardShortcuts from "../components/KeyboardShortcuts.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: "draft",
  resolve_links: "url",
});

const title = data?.story?.content?.site_title;
const { story } = Astro.props;

const coverImage = story?.content?.cover_image?.filename;
---

<html lang="en">
  <head>
    <BaseHead
      title={story ? (story.content?.title || story.name) + " — " + title : title}
      description={story && story.content?.excerpt}
      image={coverImage}
    />

    <!-- Plausible Analytics -->
    <script defer data-domain="sverzegnassi.me" src="https://plausible.sverzegnassi.me/js/script.js"></script>
  </head>
  <body>
    <KeyboardShortcuts id="kbd-shortcuts" />
    <Navigation />
    <main id="main-content">
      <slot />
    </main>
    <Footer id="footer" />
  </body>
</html>

<style>
  body:has(.navbar[aria-expanded=true]) {
    overflow: hidden;

    #kbd-shortcuts,
    #main-content,
    #footer {
      visibility: hidden;
    }
  }
</style>