---
import "modern-normalize";
import "@fontsource-variable/public-sans";
import "@fontsource/ibm-plex-mono/400.css"; 
import "../css/global.css";

import { useStoryblokApi } from "@storyblok/astro";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import KeyboardShortcuts from "../components/KeyboardShortcuts.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: "draft",
  resolve_links: "url",
});

const title = data?.story?.content?.site_title;
const description = data?.story?.content?.site_description;

const { story } = Astro.props;

const coverImage = story.content?.cover_image?.filename;
---

<html lang="en">
  <head>
    <BaseHead
      title={story ? (story.content?.title || story.name) + " — " + title : title}
      description={story && story.content?.excerpt}
      image={coverImage}
    />
  </head>
  <body x-data="{ navbarOpen: false }" :style="navbarOpen && 'overflow: hidden;'">
    <KeyboardShortcuts />
    <Navigation />
    <main id="main-content" :style="navbarOpen && 'visibility: hidden'">
      <slot />
    </main>
    <div :style="navbarOpen && 'visibility: hidden'">
      <Footer />
    </div>
  </body>
</html>
